body {
    background: rgb(29, 40, 41);
    background: -moz-linear-gradient(90deg, rgba(29, 40, 41, 1) 0%, rgba(24, 30, 31, 1) 11%, rgba(19, 19, 20, 1) 41%, rgba(19, 19, 20, 1) 58%, rgba(24, 30, 31, 1) 85%, rgba(29, 40, 41, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(29, 40, 41, 1) 0%, rgba(24, 30, 31, 1) 11%, rgba(19, 19, 20, 1) 41%, rgba(19, 19, 20, 1) 58%, rgba(24, 30, 31, 1) 85%, rgba(29, 40, 41, 1) 100%);
    background: linear-gradient(90deg, rgba(29, 40, 41, 1) 0%, rgba(24, 30, 31, 1) 11%, rgba(19, 19, 20, 1) 41%, rgba(19, 19, 20, 1) 58%, rgba(24, 30, 31, 1) 85%, rgba(29, 40, 41, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d2829", endColorstr="#1d2829", GradientType=1);
    color: white;
    padding: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;

}

.logo {
    z-index: 1;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}

.contact-btn {
    z-index: 1;
    padding: 0.5rem 2rem;
    font-size: 1.rem;
    background-color: rgba(143, 143, 143, 0.2);
    border: 1px solid rgba(102, 102, 102, 0.5);
    border-radius: 50px;
    color: white;
    transition: 0.3s;
}

.contact-btn:hover {
    background-color: rgba(143, 143, 143, 0.5);
    border: 1px solid rgba(102, 102, 102, 0.8);
}

main {
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
}

.title-section {
    margin-top: 3rem;
}

/* 
main h1 {
    z-index: 1;
    position: absolute;
    margin-top: 450px;
    margin-left: 1200px;
} */

.social-icons {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    /* ya center if you want */
    align-items: center;
    z-index: 1;
}

.social-icons a {
    z-index: 1;
    color: white;
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
}

.social-icons a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: aquamarine;
    transition: width 0.3s ease;
}

.social-icons a:hover {
    color: aquamarine;
    transform: scale(1.2);
}

.social-icons a:hover::after {
    width: 100%;
}

.bio-section {
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 2rem;
}

.bio {

    font-size: 1rem;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: 1px;
    max-width: 22rem;
}

.scroll-down {
    z-index: 1;
    height: 5rem;
    width: 2rem;
    position: absolute;
    right: 2%;
    bottom: 5%;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, 100%) rotate(45deg);
    border: 2px solid rgb(103, 212, 192);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 3s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.8s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }

    30%,
    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 50%;
    }
}

.computer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 130%;
    cursor: pointer;
}

/* About section */
.about-section {
    width: 100%;
    display: flex;
    margin-top: 20rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title {
    margin-bottom: 5%;
    font-size: 5rem;
    background-image: linear-gradient(rgb(216, 212, 212), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
}

.bento-grid {
    position: relative;
    display: grid;
    height: 90vh;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "intro intro tech"
        "time passion tech";
    gap: 1.5rem;
}

.card {
    background: linear-gradient(145deg, rgba(0, 0, 0, 014), rgba(0, 0, 0, 0.7));
    border: 1px solid rgba(255,255,255,0.1);
    padding: 2rem;
    border-radius: 24px;
    transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* card specific areas */

.intro{grid-area: intro;min-height: 300px;}
.tech{grid-area: tech;min-height: 450px;}
.passion{grid-area: passion;min-height: 220px;}
.time{grid-area: time;min-height: 220px;}

/* hover effect */
.card:hover {
    transform: translateY(-5px);
    border-color: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* spotlight effect */
.card::before {
    content: "";
    position: absolute;
   inset: 0 0 0 0;
    background: radial-gradient(circle at var(--x) var(--y), rgba(124,233,230,0.1),transparent 40%);
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: -1;
}
.card:hover::before {
    opacity: 1;
}

.card-title{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 2rem;
    color: aliceblue;
}
.card-text{
    color: #7b7b7b;
    line-height: 1.6;
    margin-top: 2rem;
    max-width: 30rem;
}
.bento-grid .background-img{
    position: absolute;
    inset: -1% -1% -1% -1%;
    width: 110%;
    height: 110%;
    object-fit: cover;
    z-index: -1;
}
.model-box{
    position: absolute;
    right: 5%;
    top:-110%;
    width: 50rem;
    height: 50rem;   
}
.info-3d{
    width: 150%;
    height: 150%;
    mix-blend-mode: lighten;
}